* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --prime-color: #B08C3E;
  --secondary-color: #664C13;
  --tertiary-color: #F9F0D1;
}

body {
  width: 100%;
  height: 100%;

  font-family: 'Barlow', sans-serif;
  background-color: var(--tertiary-color);
}

.section{
  padding: 10%;
  transition: transform 1s, opacity 1s;
}

.section-hidden{
  opacity: 0;
  transform: translateY(8rem);
}

.section-header{
  text-align: center;
  font-weight: 300;
  font-size: 60px;
  padding: 10%;
}

.description{
  line-height: 1.7;
  font-size: 1.3rem;
}

.section-main{
  width: 100%;
  height: 70%;
  background-color: var(--prime-color);
}

/* NAVBAR */
.navbar{
  padding: 0;
  background-color: var(--prime-color);
}

.navbar-brand{
  font-weight: 300;
  color: var(--secondary-color);
  padding: 20px;
}

.nav-link {
  color:#664C13;
}

.nav-item{
  padding: 0 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Main images */
.section-main-header, section-main-img{
  padding: 7% 15%;
}

.section-main-img{
  position: relative;
}

.main-img-1 {
  position: relative;
  bottom: 150px;
  left: 200px;
  width: 70%;
  padding-right: 50px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.main-img-2 {
  position: relative; 
  width: 100%;
  overflow: hidden; 
  right: 90px;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
     }
}

@-webkit-keyframes fadeInAnimation {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-img{
  opacity: 0;
  animation-name: fadeInAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

li:nth-child(2) > img {
  animation-delay: 0.4s;
}

ul{
  list-style: none;
}

.main-header{
  font-weight: 500;
  font-size: 80px;
  color: black;
  text-align: center;
  padding-left: 5%;
  padding-right: 12%;
}

@media screen and (max-width: 1180px){
  
}

@media (max-width: 989px){
  
  .section-main{
    height: 1200px;
  }

  .main-img-1{
/*     position: absolute; */
    width: 30%;
    left: 300px;
    width: 35%;
    right: 300px;
/*     padding-right: 50px; */
    margin-right: 0;
  }

  .main-img-2{
    width: 60%;
    left: 10px;
  }
}

@media only screen and (max-width: 768px){
  
  .main-img-2{
    position: absolute;
  }

  .main-img-1{
    position: absolute;
    top: 200px;
    right: 20px;
    
/*     padding-right: 5%; */
  }

  .section-main-header{
    position: relative;
    top: 500px;
  }
}




/* .fake-div{
  height: 200px;
} */


.section-introduction {
  background-color: var(--tertiary-color);
}

.section-things{
  background-color: var(--prime-color);
}



.section-letters{
  background-color: var(--tertiary-color);
  padding: 15%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.section-letters-div{
  flex-basis: 45%;
}

.section-letters-letter{
  max-width: 100%;
}


@media only screen and (max-width: 1200px){
  .section-letters{
    flex-direction: column;
    text-align: center;
  }

  .section-letters-letter{
    max-width: 60%;
  }

  .section-letters-description{
    padding-top: 70px;
  }
}

.section-zoom {
  background-image: linear-gradient(
    to right bottom,
    rgba(247, 222, 129, 0.8),
    rgba(249, 239, 204, 0.8)),       
    url('https://www.verywellhealth.com/thmb/iBi76uyjWT2bncbN74QcBqunq2s=/2000x1331/filters:fill(87E3EF,1)/GettyImages-519545294-58b33e733df78cdcd8b6a060.jpg');

  background-size: cover;
  background-position: left top;
  position: relative;
}
